<div class="food_detail_body" style="width: 100%">
    <div>
        <div class="newmodal_close_header">
            <button type="button" class="close newmodal_close" ng-click="$dismiss()" aria-label="Close">
                <img src="/assets/img/ui/close.png">
            </button>
            <img src="/assets/img/ui/small-logo.png" class="newmodal_small_logo">
        </div>
        <div class="confirm_header_title padding-md">
            <i class="ion-flame modal-icon"></i><span>رد نظر</span>
        </div>
    </div>
</div>
<div class="modal-content modal-fit" style="background: white">
    <!-- <div class="modal-header bg-danger">
        <i class="ion-flame modal-icon"></i><span>رد نظر</span>
    </div> -->
    <div class="modal-body text-center">آیا از حذف رکورد نظر اطمینان دارید؟</div>
    <div class="modal-footer left-text">
        <button type="button" style="width: 4em;" class="btn btn-danger" ng-click="$dismiss()">خیر</button>
        <button type="button" style="width: 4em;" class="btn btn-danger" ng-click="deleteHoliday()">بله</button>
    </div>
</div>