<div class="modal-content" style="background: white">
    <div class="modal-header bg-danger">
        <i class="ion-android-warning modal-icon"></i><span> حذف خیریه</span>
    </div>
    <div class="modal-body text-center">آیا از حذف کردن خیریه اطمینان دارید؟</div>
    <div class="modal-footer">
        <button type="button" style="width: 4em;" class="btn btn-danger" ng-click="$dismiss()">خیر</button>
        <button type="button" style="width: 4em;" class="btn btn-danger" ng-click="removeCompany()">بله</button>
    </div>
</div>
