<div class="modal-content" style="background: white">
    <div class="modal-header bg-warning">
        <i class="ion-android-warning modal-icon"></i><span> مارک کردن به عنوان خوانده شده</span>
    </div>
    <div class="modal-body text-center">آیا از مارک کردن پیام به عنوان خوانده شده اطمینان دارید؟</div>
    <div class="modal-footer">
        <button type="button" style="width: 4em;" class="btn btn-warning" ng-click="$dismiss()">خیر</button>
        <button type="button" style="width: 4em;" class="btn btn-warning" ng-click="makeRead()">بله</button>
    </div>
</div>
