<div include-with-scope="page-top.html"></div>
<a href class="collapse-menu-link mytoggle" id="responsive-filter-emp" ba-sidebar-toggle-menu ng-click="toggleSidebar($event)">
    <img src="assets/img/filter.png" class="img-responsive" />
</a>
<aside id="mySearchSidebar" class="al-sidebar">
    <div class="slimScrollDiv grid_sidebar__wrapper">
        <ul class="al-sidebar-list_grid grid_sidebar__" slimscroll-watch="menuHeight">
        </ul>
    </div>
</aside>
<div class="widgets mycontent">
    <div class="full-height default-back">
        <div style="background: #e2eded;padding-left: 16px;padding-top: 5%">
            <div class="row">
                <div class="col-md-12">
                    <div class="horizontal-scroll">
                        <table class="table" st-table="foods" refresh-table>
                            <thead>
                            <tr class="sortable ">
                                <th st-sort="comment">
                                    <div class="newtable_header">
                                        بازخورد
                                    </div>
                                </th>
                                <th st-sort="employee.name">
                                    <div class="newtable_header">
                                        جزییات بازخورد
                                    </div>
                                </th>
                                <th class="table-id" id="triggerSearch" st-sort="id" st-sort-default="true">
                                    <div class="newtable_header">
                                        ردیف
                                    </div>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr id="{{$index}}" ng-repeat="item in feedbacks">
                                <td>{{item.comment}}</td>
                                <td>{{item.orderData}}</td>
                                <td class="table-id">{{$index+1}}</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="12" class="text-center">
                                    <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="10"></div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .newmenu {
        margin-right: 30px !important;
        margin-left: 20px !important;
    }

    
    .mycontent {
        margin-right: 328px !important;
        margin-left: 12px !important;
    }

    .mycontent.widgets .row {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    @media (max-width: 1300px) and (min-width: 768px) {
        .ng-scope .mycontent {
            margin-top: -67px !important;
            margin-right: 12px !important;
        }
    }

    @media (max-width: 1300px) {
        .al-sidebar {
            display: none !important;
        }
    }
</style>

