<div class="food_detail_body" style="width: 100%">
    <div>
        <div class="newmodal_close_header">
            <button type="button" class="close newmodal_close" ng-click="$dismiss()" aria-label="Close">
                <img src="/assets/img/ui/close.png">
            </button>
            <img src="/assets/img/ui/small-logo.png" class="newmodal_small_logo">
        </div>
        <div class="confirm_header_title padding-md">
            <i class="ion-android-warning modal-icon"></i><span>جزییات سفارش</span>
        </div>
    </div>
</div>
<div class="modal-content modal-fit" style="background: white">
    <!-- <div class="modal-header bg-info">
        <i class="ion-android-warning modal-icon"></i><span>جزییات سفارش</span>
    </div> -->
    <div class="modal-body text-center">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group row clearfix flex-xs flex-col-reverse-xs no-margin">
                    <div class="col-sm-6">
                        <label id="resname">{{order.food.restaurant.name}}</label>
                    </div>
                    <label for="resname" class="col-sm-6 control-label">نام رستوران</label>
                </div>
                <div class="form-group row clearfix flex-xs flex-col-reverse-xs no-margin">
                    <div class="col-sm-6">
                        <label id="phone">{{order.food.restaurant.phone}}</label>
                    </div>
                    <label for="phone" class="col-sm-6 control-label">تلفن</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row clearfix flex-xs flex-col-reverse-xs no-margin">
                    <div class="col-sm-6">
                        <label id="name">{{order.food.name}}</label>
                    </div>
                    <label for="name" class="col-sm-6 control-label">نام غذا</label>
                </div>

                <div class="form-group row clearfix flex-xs flex-col-reverse-xs no-margin">
                    <div class="col-sm-6">
                        <label id="address">{{order.food.restaurant.location.address}}</label>
                    </div>
                    <label for="address" class="col-sm-6 control-label">آدرس</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group row clearfix flex-xs flex-col-reverse-xs no-margin">
                    <div class="col-sm-6">
                        <label id="foodOriginalPrice">{{order.foodOriginalPrice}}</label>
                    </div>
                    <label for="foodOriginalPrice" class="col-sm-6 control-label">قیمت اصلی غذا</label>
                </div>
                <div class="form-group row clearfix flex-xs flex-col-reverse-xs no-margin">
                    <div class="col-sm-6">
                        <label id="deliveryPrice">{{order.orderGroup.deliveryPrice | number}}</label>
                    </div>
                    <label for="deliveryPrice" class="col-sm-6 control-label">هزینه حمل</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row clearfix flex-xs flex-col-reverse-xs no-margin">
                    <div class="col-sm-6">
                        <label id="foodPriceAfterOff">{{order.foodPriceAfterOff}}</label>
                    </div>
                    <label for="foodPriceAfterOff" class="col-sm-6 control-label">قیمت بعد از تخفیف</label>
                </div>

                <div class="form-group row clearfix flex-xs flex-col-reverse-xs no-margin">
                    <div class="col-sm-6">
                        <label id="containerPrice">{{order.containerPrice | number}}</label>
                    </div>
                    <label for="containerPrice" class="col-sm-6 control-label">هزینه ظرف</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group row clearfix flex-xs flex-col-reverse-xs no-margin">
                    <div class="col-sm-6">
                        <label id="totalPrice">{{order.totalPrice | number}}</label>
                    </div>
                    <label for="totalPrice" class="col-sm-6 control-label">قیمت نهایی غذا</label>
                </div>
                <div class="form-group row clearfix flex-xs flex-col-reverse-xs no-margin">
                    <div class="col-sm-6">
                        <label>{{order.orderGroup.deliveryPriceTax}}</label>
                    </div>
                    <label for="deliveryDate" class="col-sm-6 control-label">مالیات حمل</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row clearfix flex-xs flex-col-reverse-xs no-margin">
                    <div class="col-sm-6">
                        <label id="taxAmount">{{order.taxAmount}}</label>
                    </div>
                    <label for="taxAmount" class="col-sm-6 control-label">مالیات</label>
                </div>

                <div class="form-group row clearfix flex-xs flex-col-reverse-xs no-margin">
                    <div class="col-sm-6">
                        <label id="deliveryDate">{{myFormatDate(order.deliveryDate)}}</label>
                    </div>
                    <label for="deliveryDate" class="col-sm-6 control-label">تاریخ تحویل</label>
                </div>

                <div class="form-group row clearfix flex-xs flex-col-reverse-xs no-margin">
                    <div class="col-sm-6">
                        <label id="count">{{order.count}}</label>
                    </div>
                    <label for="deliveryDate" class="col-sm-6 control-label">تعداد</label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer left-text">
        <button type="button" class="btn btn-info" ng-click="$dismiss()">بستن</button>
    </div>
</div>
<style>
    .form-group label {
        color: black;
    }
    .modal-dialog .modal-content .modal-content{
        width: 90%;
    }
</style>