<div style="position: relative;height: 100%">
    <input id="test" type="text" style="display: none" title="hi"/>
    <div class="food_detail_body" style="width: 100%">
        <div style="height: 10%">
            <div class="newmodal_close_header">
                <button type="button" class="close newmodal_close" ng-click="$dismiss()" aria-label="Close">
                    <img src="/assets/img/ui/close.png">
                </button>
                <img src="/assets/img/ui/small-logo.png" class="newmodal_small_logo">
            </div>
            <div class="confirm_header_title padding-md">
                تغییر کلمه عبور
            </div>
        </div>
    </div>
    <div class="confirm_body" style="padding-top: 15px">
        <form novalidate name="myform" class="form-horizontal" style="padding-left: 20px;padding-right: 20px"
              ng-submit="myform.$valid && changePass(myform)">
            <div class="form-group">
                <div class="col-sm-8">
                    <input type="password" ng-maxlength="60" ng-minlength="8" ng-model="newPass" class="confirm_input form-control" name="newPass" required id="newPass"
                           style="text-align:right;color: white">
                    <div class="error-message" ng-show="(myform.newPass.$dirty || submitted) && inputIsInvalid(myform.newPass.$valid,'newPass') && myform.newPass.$error.maxlength">
                        حداکثر 60 کاراکتر وارد کنید
                    </div>
                    <div class="error-message" ng-show="(myform.newPass.$dirty || submitted) && inputIsInvalid(myform.newPass.$valid,'newPass') && myform.newPass.$error.minlength">
                        حداقل 8 کاراکتر وارد کنید
                    </div>
                    <div class="error-message" ng-show="(myform.newPass.$dirty || submitted) && inputIsInvalid(myform.newPass.$valid,'newPass') && myform.newPass.$error.required">
                        پر کردن این فیلد اجباریست
                    </div>
                </div>
                <label for="newPass" class="col-sm-3 control-label">رمز عبور جدید</label>
            </div>
            <div class="form-group">
                <div class="col-sm-8">
                    <input name="newPass2" ng-model="newPass2" ng-maxlength="60" ng-minlength="8" required type="password" class="confirm_input form-control" id="newPass2"
                           style="text-align:right;color: white">
                    <div class="error-message" ng-show="(myform.newPass2.$dirty || submitted) && inputIsInvalid(myform.newPass2.$valid,'newPass2') && myform.newPass2.$error.maxlength">
                        حداکثر 60 کاراکتر وارد کنید
                    </div>
                    <div class="error-message" ng-show="(myform.newPass2.$dirty || submitted) && inputIsInvalid(myform.newPass2.$valid,'newPass2') && myform.newPass2.$error.minlength">
                        حداقل 8 کاراکتر وارد کنید
                    </div>
                    <div class="error-message" ng-show="(myform.newPass2.$dirty || submitted) && inputIsInvalid(myform.newPass2.$valid,'newPass2') && myform.newPass2.$error.required">
                        پر کردن این فیلد اجباریست
                    </div>
                </div>
                <label for="newPass2" class="col-sm-3 control-label">تکرار رمز عبور جدید</label>
            </div>
            <div>
                <div class="col-sm-4" style="margin-top: 20px">
                    <button type="submit" style="width: 52px" class="confirm_button confirm_yes">تایید</button>
                    <button type="button" ng-click="$dismiss()" style="float: left;width: 52px"
                            class="confirm_button confirm_no"> بازگشت
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<style>
    .modal-open .modal {
        height: 100%;
    }

    .modal .modal-dialog {
        height: 50% !important;
        top: 50%;
    transform: translateY(-50%) !important;
    }

    .modal-content {
        height: 60%;
        top: 50%;
    }
</style>



