<div include-with-scope="page-top.html"></div>
<aside id="mySearchSidebar" class="al-sidebar" ng-mouseleave="hoverElemTop=selectElemTop">
    <div class="slimScrollDiv grid_sidebar__wrapper">
        <ul class="al-sidebar-list_grid grid_sidebar__" slimscroll-watch="menuHeight">
            <li class="al-sidebar-list-item ng-scope with-sub-menu ba-sidebar-item-expanded"
                ui-sref-active="selected"
                ba-sidebar-toggling-item="item" style="height: 120px">
                <div style="text-align: right;cursor: default;"
                     class="al-sidebar-list-link">
                    <div class="newmenu__search_title">از تاریخ</div>
                </div>

                <ul class="al-sidebar-sublist"
                    ba-ui-sref-toggling-submenu="" style="display: block;">
                    <li style="padding: 15px"
                        ui-sref-active="selected"
                        ba-sidebar-toggling-item="subitem" class="ba-sidebar-sublist-item">
                        <div>
                            <adm-dtp on-datechange="dateChanged(fromDate,true)" id="from" ng-model='fromDate'
                                     options='{calType: "jalali", format: "YYYY/MM/DD",default:"{{fromDate}}", multiple:false,minuteStep:15,freezeInput:true,dtpType:"date",autoClose:true}'></adm-dtp>

                        </div>
                    </li>
                </ul>
            </li>
            <li class="al-sidebar-list-item ng-scope with-sub-menu ba-sidebar-item-expanded"
                ui-sref-active="selected"
                ba-sidebar-toggling-item="item" style="height: 120px">
                <div style="text-align: right;cursor: default;"
                     class="al-sidebar-list-link">
                    <div class="newmenu__search_title">تا تاریخ</div>
                </div>

                <ul class="al-sidebar-sublist"
                    ba-ui-sref-toggling-submenu="" style="display: block;">
                    <li style="padding: 15px"
                        ui-sref-active="selected"
                        ba-sidebar-toggling-item="subitem" class="ba-sidebar-sublist-item">
                        <div>
                            <adm-dtp on-datechange="dateChanged(toDate,false)" id="to" ng-model='toDate'
                                     options='{calType: "jalali", format: "YYYY/MM/DD",default:"{{toDate}}", multiple:false,minuteStep:15,freezeInput:true,dtpType:"date",autoClose:true}'></adm-dtp>

                        </div>
                    </li>
                </ul>
            </li>
            <li style="text-align: center !important;">
                    <button ng-click="backBtn()" type="button" style="width: auto" class="confirm_button confirm_yes btn">بازگشت
                        </button>
            </li>
        </ul>
    </div>
</aside>

<div class="widgets mycontent" ng-init="initCtrl()">
    <div style="height: 100%;background: #e2eded;">
        <div style="background: #e2eded;padding-left: 16px;padding-top: 5%">
            <div class="row">
                <div class="col-md-12">
                    <div class="horizontal-scroll">
                        <table class="table" st-table="foods" refresh-table>
                            <thead>
                            <tr class="sortable ">
                                <th st-sort="previousBalance">
                                    <div class="newtable_header">موجودی قبلی</div>
                                </th>
                                <th st-sort="newBalance">
                                    <div class="newtable_header">موجودی جدید</div>
                                </th>
                                <th st-sort="transactionDate">
                                    <div class="newtable_header">تاریخ سفارش</div>
                                </th>
                                <th st-sort="foodPrice">
                                    <div class="newtable_header">مبلغ تراکنش</div>
                                </th>
                                <th id="triggerSearch" class="table-id" st-sort="id" st-sort-default="true"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in orders">
                                <td>{{item.previousBalance}}</td>
                                <td>{{item.newBalance}}</td>
                                <td>{{myFormatDate(item.transactionDate)}}</td>
                                <td>{{item.totalAmount}}</td>
                                <td class="table-id">{{$index+1}}</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="12" class="text-center">
                                    <div st-pagination="" st-items-by-page="smartTablePageSize"
                                         st-displayed-pages="10"></div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .newmenu {
        margin-right: 27px !important;
        margin-left: 20px !important;
    }
    .mycontent {
        margin-left: 12px !important;
    }
    .mycontent.widgets .row {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
</style>