<div include-with-scope="page-top.html"></div>
<a href class="collapse-menu-link mytoggle" id="responsive-filter-emp" ba-sidebar-toggle-menu ng-click="toggleSidebar($event)">
    <img src="assets/img/filter.png" class="img-responsive" />
</a>
<aside id="mySearchSidebar" class="al-sidebar">
    <div class="slimScrollDiv grid_sidebar__wrapper">
        <ul class="al-sidebar-list_grid grid_sidebar__" slimscroll-watch="menuHeight">
            <li class="al-sidebar-list-item ng-scope with-sub-menu ba-sidebar-item-expanded" ui-sref-active="selected"
                style="height: 285px">
                <div style="text-align: right;cursor: default" class="al-sidebar-list-link">
                    <img style="width: 89px" src="/assets/img/ui/report-filter.png">
                    <div class="newmenu__search_title top-padding-md">نام شرکت</div>
                </div>

                <ul class="al-sidebar-sublist" style="display: block;">
                    <li style="padding: 15px; padding-right: 0;" ui-sref-active="selected" ba-sidebar-toggling-item="subitem"
                        class="ba-sidebar-sublist-item">
                        <div>
                            <input ng-model="name" ng-change="nameChanged()" type="text" class="form-control" id="foodName"
                                   placeholder="نام شرکت">
                        </div>
                    </li>
                </ul>
            </li>
            <li class="al-sidebar-list-item ng-scope with-sub-menu ba-sidebar-item-expanded" ui-sref-active="selected"
                ba-sidebar-toggling-item="item">
                <div style="text-align: right;cursor: default;" class="al-sidebar-list-link">
                    <div class="newmenu__search_title"> تاریخ</div>
                </div>

                <ul class="al-sidebar-sublist" style="display: block;">
                    <li style="padding: 15px; padding-right: 0;" ui-sref-active="selected" ba-sidebar-toggling-item="subitem"
                        class="ba-sidebar-sublist-item">
                        <div>
                            <adm-dtp on-datechange="dateChanged(sdate)" ng-model='sdate' options='{calType: "jalali", format: "YYYY/MM/DD",default:"{{sdate}}", multiple:false,minuteStep:15,freezeInput:true,dtpType:"date",autoClose:true}'></adm-dtp>

                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</aside>

<div class="mycontent widgets" style="background: #e2eded;padding-left: 16px;padding-bottom: 25%;padding-top: 5%">
    <div class="row">
        <div class="col-md-12">
            <div class="horizontal-scroll">
                <table class="table" st-table="foods" refresh-table>
                    <thead>
                    <tr class="sortable ">
                        <th>
                            <div class="newtable_header">عملیات</div>
                        </th>
                        <th st-sort="transactionDate">
                            <div class="newtable_header">نام</div>
                        </th>
                        <th id="triggerSearch" class="table-id" st-sort="id" st-sort-default="true"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="c in customers">
                        <td>
                            <div class="buttons">
                                <button ng-if="customer === 'R'" class="confirm_button confirm_yes btn" ng-click="getOfficialInvoice(c.id)">
                                    دانلود فاکتور
                                </button>
                            </div>
                        </td>
                        <td>{{c.name}}</td>
                        <td class="table-id">{{$index+1}}</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="12" class="text-center">
                            <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="10"></div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<style>
    .newmenu {
        margin-right: 27px !important;
        margin-left: 20px !important;
    }

    .mycontent {
        margin-right: 328px !important;
        margin-left: 12px !important;
    }

    @media (max-width: 1300px) and (min-width: 768px) {
        .ng-scope .mycontent {
            margin-top: -67px !important;
            margin-right: 12px !important;
        }
    }

    @media (max-width: 1300px) {
        .al-sidebar {
            display: none !important;
        }
    }
</style>
