<div class="modal-content">
    <span id="test" style="display: none"></span>
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title">فاکتور</h4>
    </div>
    <div ba-panel>
        <div class="paypal">
            <div style="padding-top: 40px" class="paypal__cart">
                <h2 class="paypal__cart-title">{{factor.restaurant.address.address}}</h2>
                <h2 class="paypal__cart-title">{{factor.restaurant.address.phone}}</h2>
                <div class="paypal__cart-list">
                    <ul style="height: 30px" ng-repeat="food in factor.foodOrders">
                        <li class="paypal__cart-item">
                            <span class="paypal__item-price">{{food.foodPriceAfterOff}}</span>
                            <span class="paypal__item-name">{{food.food.name}}</span>
                        </li>
                    </ul>
                    <ul style="height: 30px">
                        <li class="paypal__cart-item">
                            <span class="paypal__item-price">{{factor.totalContainerPrice}}</span>
                            <span class="paypal__item-name">ظرف</span>
                        </li>
                    </ul>
                    <ul style="height: 30px">
                        <li class="paypal__cart-item" style="border-bottom: none !important;">
                            <span class="paypal__item-price">{{factor.totalTaxAmount}}</span>
                            <span class="paypal__item-name">مالیات</span>
                        </li>
                    </ul>
                    <ul style="height: 30px">
                        <li style="border-top: 2px solid #FFFFFF !important;border-bottom: none !important;"
                            class="paypal__cart-item">
                            <span class="paypal__item-name">مجموع</span><span
                                class="paypal__item-price">{{factor.totalAmount}}</span>
                        </li>
                    </ul>
                </div>
                <ul style="height: 30px">
                    <li class="paypal__cart-item" style="border-bottom: none !important;">
                        <span class="paypal__item-price">{{factor.employee.name}}</span>
                        <span class="paypal__item-name">نام مشتری</span>
                    </li>
                </ul>
                <ul style="height: 30px">
                    <li class="paypal__cart-item" style="border-bottom: none !important;">
                        <span class="paypal__item-price">{{factor.employee.address.address}}</span>
                        <span class="paypal__item-name">آدرس مشتری</span>
                    </li>
                </ul>
                <ul style="height: 30px">
                    <li class="paypal__cart-item" style="border-bottom: none !important;">
                        <span class="paypal__item-price">{{factor.employee.address.phone}}</span>
                        <span class="paypal__item-name">شماره تلفن مشتری</span>
                    </li>
                </ul>
            </div>
        </div>
        <button onclick="printJS({ printable: 'paypal', type: 'html', header: 'PrintJS - Form Element Selection' })" type="button"
                class="btn btn-primary btn-raised">چاپ
        </button>
        <!--<span class="cd-date">{{myFormatDate(myday.dayDate)}}</span>-->
    </div>
</div>
