<div include-with-scope="page-top.html"></div>
<div class="widgets mycontent" ng-class="{'admin-content': hasRole('MASTER_ADMIN')}">
    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="غذاها" ba-panel-class="with-scroll">
                <div>
                    <div class="form-group full-width a0">
                        <!-- <div class="a1">
                            <div>
                                <div class="a2">
                                    تعداد
                                </div>
                                <div class="a3">
                                    <select class="form-control selectpicker" data-style="btn-primary"
                                            title="Rows on page" selectpicker
                                            style="text-align:right;"
                                            ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
                                    </select>
                                </div>
                            </div>
                        </div> -->
                        <div class="a4 col-xs-12 no-padding flex wrap right-direction">
                            <div class="col-xs-12 wrap flex items-center">
                                <div class="a5 defult-color padding-lg full-width">
                                    از تاریخ
                                </div>
                                <div class="a6 fit-width left-direction">
                                    <adm-dtp on-datechange="dateChanged(fromDate,true)" id="from" ng-model='fromDate'
                                        options='{calType: "jalali", format: "YYYY/MM/DD hh:mm",default:"{{fromDate}}", multiple:false,minuteStep:15,freezeInput:true,dtpType:"date",autoClose:true}'></adm-dtp>
                                </div>
                            </div>
                            <div class="col-xs-12 wrap flex items-center">
                                <div class="a5 defult-color padding-lg full-width">
                                    تا تاریخ
                                </div>
                                <div class="a6 fit-width left-direction">
                                    <adm-dtp on-datechange="dateChanged(toDate,false)" id="to" ng-model='toDate'
                                        options='{calType: "jalali", format: "YYYY/MM/DD hh:mm",default:"{{toDate}}", multiple:false,minuteStep:15,freezeInput:true,dtpType:"date",autoClose:true}'></adm-dtp>
                                </div>
                            </div>
                            <div class="a7">
                                <select ng-change="reportTypeChanged(reportType)" class="form-control btn-primary"
                                    ng-model="reportType" data-style="btn-primary" selectpicker>
                                    <option style="color: black" value="ALL">همه</option>
                                    <option style="color: black" value="DEPOSIT">واریزی ها</option>
                                    <option style="color: black" value="WITHDRAW">برداشتی ها</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="horizontal-scroll full-width">
                        <table class="table" st-table="report" refresh-table>
                            <thead>
                            <tr class="sortable ">
                                <th>
                                    <div class="newtable_header">مبلغ</div>
                                </th>
                                <th>
                                    <div class="newtable_header">تاریخ</div>
                                </th>
                                <th>
                                    <div class="newtable_header">نوع</div>
                                </th>
                                <th id="triggerSearch" class="table-id" st-sort="id" st-sort-default="true"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in orders">
                                <td>{{formatPrice(item.totalAmount)}}</td>
                                <td>{{myFormatDate(item.transactionDate)}}</td>
                                <td>{{getTransactionType(item.transactionTypeEnum)}}</td>
                                <td class="table-id">{{$index+1}}</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="12" class="text-center">
                                    <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="10"></div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .a7 {
        min-width: 300px;
        min-height: 32px;
        padding: 6px 15px;
    }

    .a7>div {
        height: 100% !important;
    }

    .a7>div>button {
        background-color: #f5f5f5 !important;
    }
</style>