<div include-with-scope="page-top.html"></div>
<div class="widgets mycontent" ng-init="initCtrl()" ng-class="{'admin-content': hasRole('MASTER_ADMIN')}">
    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="غذاها" ba-panel-class="with-scroll">
                <div>
                    <div class="form-group full-width bottom-margin-md-imp a0">
                        <!-- <div class="a1">
                            <div>
                                <div class="a2">
                                    تعداد
                                </div>
                                <div class="a3">
                                    <select class="form-control selectpicker" data-style="btn-primary"
                                            title="Rows on page" selectpicker
                                            style="text-align:right;"
                                            ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
                                    </select>
                                </div>
                            </div>
                        </div> -->
                        <div class="a4 col-xs-12 no-padding flex wrap right-direction">
                            <div class="col-xs-12 wrap flex items-center">
                                <div class="a5 defult-color padding-lg full-width">
                                    از تاریخ
                                </div>
                                <div class="a6 fit-width left-direction">
                                    <adm-dtp on-datechange="dateChanged(fromDate,true)" id="from" ng-model='fromDate'
                                        options='{calType: "jalali", format: "YYYY/MM/DD hh:mm",default:"{{fromDate}}", multiple:false,minuteStep:15,freezeInput:true,dtpType:"date",autoClose:true}'></adm-dtp>
                                </div>
                            </div>
                            <div class="col-xs-12 wrap flex items-center">
                                <div class="a5 defult-color padding-lg full-width">
                                    تا تاریخ
                                </div>
                                <div class="a6 fit-width left-direction">
                                    <adm-dtp on-datechange="dateChanged(toDate,false)" id="to" ng-model='toDate'
                                        options='{calType: "jalali", format: "YYYY/MM/DD hh:mm",default:"{{toDate}}", multiple:false,minuteStep:15,freezeInput:true,dtpType:"date",autoClose:true}'></adm-dtp>
                                </div>
                            </div>
                        </div>
                        <div class="remove-float"></div>
                    </div>
                    <div class="horizontal-scroll">
                        <table class="table" st-table="foods" refresh-table>
                            <thead>
                                <tr class="sortable ">
                                    <th>
                                        <div class="newtable_header">
                                            عملیات
                                        </div>
                                    </th>
                                    <th st-sort="orderGroup.id">
                                        <div class="newtable_header">
                                            کد فاکتور
                                        </div>
                                    </th>
                                    <th st-sort="deliveryDate">
                                        <div class="newtable_header">
                                            تاریخ تحویل
                                        </div>
                                    </th>
                                    <th st-sort="food.restaurant.name">
                                        <div class="newtable_header">
                                            رستوران
                                        </div>
                                    </th>
                                    <th st-sort="food.name">
                                        <div class="newtable_header">
                                            نام
                                        </div>
                                    </th>
                                    <th id="triggerSearch" class="table-id" st-sort="id" st-sort-default="true">#</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in orders">
                                    <td>
                                        <div class="buttons">
                                            <button class="btn btn-info editable-table-button btn-xs" ng-click="openModal('app/pages/admin/company/users/order-modal.html', 'lg',$index)">مشاهده
                                            </button>
                                            <button ng-if="item.foodOrderStatus === 'NORMAL' || item.foodOrderStatus === 'FACTOR'"
                                                class="btn btn-danger editable-table-button btn-xs" ng-click="openModal('app/pages/admin/company/users/cancel-modal.html', 'md',$index)">لغو
                                                غذا
                                            </button>
                                        </div>
                                    </td>
                                    <td>{{item.orderGroup.id}}</td>
                                    <td>{{myFormatDate(item.deliveryDate)}}</td>
                                    <td>{{item.food.restaurant.name}}</td>
                                    <td>{{item.food.name}}</td>
                                    <td class="table-id">{{$index+1}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="7" class="text-center">
                                        <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="10"></div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    nav.ng-scope {
        text-align: left;
    }
</style>