<div include-with-scope="page-top.html"></div>
<div class="widgets mycontent" ng-init="initCtrl()" ng-class="{'admin-content': hasRole('MASTER_ADMIN')}">
    <div class="row">
        <div class="col-md-12">
            <div style="text-align: center" ba-panel ba-panel-title="صدور چک" ba-panel-class="with-scroll">
                <button style="margin-top: 15px;margin-right: 15px;margin-left: 0" class="btn btn-danger btn-with-icon save-profile col-6-xs" ng-click="openModal('app/pages/admin/cheques/tax-cheque-modal.html', 'md')">صدور چک مالیات</button>
                <button style="margin-top: 15px;margin-right: 15px;margin-left: 0" class="btn btn-success btn-with-icon save-profile col-6-xs" ng-click="openModal('app/pages/admin/cheques/income-cheque-modal.html', 'md')">صدور چک درامد</button>
                <button style="margin-top: 15px;margin-right: 15px;margin-left: 0" class="btn btn-warning btn-with-icon save-profile col-6-xs" ng-click="report(1)">گزارش چکهای مالیات</button>
                <button style="margin-top: 15px;margin-right: 15px;margin-left: 0" class="btn btn-info btn-with-icon save-profile col-6-xs" ng-click="report(null)">گزارش چکهای درامد</button>

            </div>
        </div>
    </div>
</div>