<!DOCTYPE html>
<html lang="en" ng-app="BlurAdmin">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Karafeed</title>
    <!-- <script src="myassets/js/jquery-3.3.1.min.js"></script>
    <script src="angular.min.js"></script>
    <script src="myassets/js/moment.min.js"></script> -->
    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
    <style ng-if="hasRole('SILVER_COMPANY')">
        .modal-dialog>.modal-content {
            background: #378bd3 !important;
        }

        .confirm_yes {
            background: #378bd3 !important;
        }

        .grid_sidebar__ {
            border-right: 8px solid #378bd3 !important;
        }

        input[ng-model="personnelCode"] {
            background-color: #378bd3 !important;
        }

        .profile__map_wrapper .profile__map {
            height: 150px !important;
        }

        ul.dropdown-menu>li>a:hover {
            background-color: #378bd3 !important;
        }
    </style>
    <style ng-if="hasRole('COMPANY')">
        .modal-dialog>.modal-content {
            background: #378bd3 !important;
        }

        .confirm_yes {
            background: #378bd3 !important;
        }

        .grid_sidebar__ {
            border-right: 8px solid #378bd3 !important;
        }

        input[ng-model="personnelCode"] {
            background-color: #378bd3 !important;
        }

        .profile__map_wrapper .profile__map {
            height: 150px !important;
        }

        ul.dropdown-menu>li>a:hover {
            background-color: #378bd3 !important;
        }
    </style>
    <style ng-if="hasRole('MASTER_ADMIN')">
        .panel>.panel-heading>h3 {
            color: black;
            text-align: right !important;
        }

        .form-control {
            height: unset !important;
        }

        .panel ::-webkit-scrollbar {
            height: 10px !important;
        }

        .mycontent {
            margin-left: 12px !important;
            margin-right: 0 !important;
        }

        .newmodal_small_logo {
            width: 64px !important;
            height: 28px !important;
        }

        @media (max-width: 768px) {
            .modal-content.modal-fit {
                height: 25% !important;
                top: 50% !important;
                transform: translateY(-50%);
            }
        }

        @media (max-width: 1300px) {
            .page-top .full-screen-btn {
                display: none;
            }
        }
    </style>
    <style ng-if="hasRole('RESTAURANT')">
        .mycontent {
            margin-left: 12px !important;
        }
    </style>
</head>
<!--  -->

<body style="display: none">
    <div class="body-bg"></div>
    <div class="monitor-container"></div>
    <main class="main-stage" style="height: 100%; background-color: rgb(255, 255, 255);"
        ng-class="{ 'menu-collapsed': $baSidebarService.isMenuCollapsed() }">
        <!--<page-top></page-top>-->

        <!--<content-top></content-top>-->
        <div ng-if="!isMobile()" style="height: 100%;overflow: auto;width: calc(100% - 14px);" class="padding-44"
            ui-view autoscroll="true" autoscroll-body-top></div>

        <div ng-controller="MainCtrl" ng-if="isMobile()" class="right-direction">

            <ion-side-menus>

                <fader class="hidden-first" ng-if="canRender('fader')"></fader>

                <ion-side-menu side="left" class="full-width" can-drag-menu>
                    <ion-header-bar ng-if="canRender('header')" class="flex content-between back-ebebeb">
                        <button class="transparent-back fit-width no-border absolute" ng-click="openMenu($event)" menu-close>
                            <svg xmlns="http://www.w3.org/2000/svg" class="unset-position full-height"
                                viewbox="0 -10 65 65" width="30" height="30">
                                <path fill="#808285" fill-rule="evenodd"
                                    d="M.557 38.539c0 1.925 1.315 3.5 2.923 3.5h52.601c1.608 0 2.923-1.575 2.923-3.5s-1.315-3.5-2.923-3.5H3.48c-1.608 0-2.923 1.575-2.923 3.5zm0-17.5c0 1.925 1.315 3.5 2.923 3.5h52.601c1.608 0 2.923-1.575 2.923-3.5s-1.315-3.5-2.923-3.5H3.48c-1.608 0-2.923 1.575-2.923 3.5zm0-17.5c0 1.925 1.315 3.501 2.923 3.501h52.601c1.608 0 2.923-1.576 2.923-3.501 0-1.925-1.315-3.5-2.923-3.5H3.48C1.872.039.557 1.614.557 3.539z" />
                            </svg>
                        </button>
                        <h1 class="title transparent-back color-363636 center-text">{{pageTitle}}</h1>

                        <button class="transparent-back fit-width no-border absolute left-0" ng-if="canRender('sort-btn')"
                            ng-click="goBack()">
                            <svg xmlns="http://www.w3.org/2000/svg" class="unset-position full-height"
                                viewbox="0 -50 600 600" width="30" height="30">
                                <path fill="#808285" fill-rule="evenodd"
                                    d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z" />
                            </svg>
                        </button>
                        <button class="transparent-back close-search fit-width no-border absolute left-0 hidden"
                            ng-click="sortBox()" ng-if="canRender('close-search-btn')">
                            <svg viewbox="0 -10 65 65" xmlns="http://www.w3.org/2000/svg" width="25" height="25" class="unset-position full-height">
                                <path fill="#F24545" fill-rule="evenodd" d="M54.267 1.637a4.166 4.166 0 0 0-5.899 0L27.904 22.059 7.441 1.595a4.17 4.17 0 0 0-5.901 0 4.168 4.168 0 0 0 0 5.901l20.464 20.463L1.54 48.423a4.168 4.168 0 0 0 0 5.901 4.17 4.17 0 0 0 5.901 0l20.463-20.465 20.464 20.465a4.168 4.168 0 0 0 5.899 0 4.168 4.168 0 0 0 0-5.901L33.805 27.959 54.267 7.496c1.591-1.59 1.591-4.268 0-5.859z"/>
                            </svg>                            
                        </button>
                    </ion-header-bar>
                    <ion-content ng-class="canRender() ? 'has-footer back-f4f4f4' : 'back-f4f4f4'">
                        <div ui-view class="view-padding-top"></div>
                        <!-- on-scroll="scrolling()"
                            on-scroll-complete="scrollComplete()"-->
                        <!-- <ion-infinite-scroll on-infinite="onInfinite()" distance="5%">
                        </ion-infinite-scroll> -->
                    </ion-content>
                    <ion-footer-bar ng-if="canRender()" ng-class="showFeedgramTab() ? 'black-back' : ''"
                        class="tabs-positive tabs-icon-top flex content-between left-direction">
                        <!--<a class="tab-item padding-md color-808285 flex-imp flex-col items-center content-center fit-height-imp no-border"-->
                            <!--ng-click="mobileMenuClicked($event)" href="#/feedgram-list">-->
                            <!--<img ng-src="{{currentMobileActiveMenu === 'feedgram' ? '/assets/img/ui/mobile/tab-icons/f-home-s.png' : '/assets/img/ui/mobile/tab-icons/f-home.svg'}}" width="45px" height="35px"/>-->
                            <!--<span class="color-808285 line-height-1"-->
                                <!--ng-class="currentMobileActiveMenu =='feedgram'? 'mobile-menu-selected-text-f':'mobile-menu-unselected-text-f'">فیدگرام</span>-->
                        <!--</a>-->
                        <!--<a ng-if="showFeedgramTab()"-->
                            <!--class="tab-item padding-md color-808285 flex-imp flex-col items-center content-center fit-height-imp no-border"-->
                            <!--ng-click="mobileMenuClicked($event)" href="#/feedgram-post">-->
                            <!--<img ng-src="{{currentMobileActiveMenu === 'feedgram-post' ? '/assets/img/ui/mobile/tab-icons/f-post.png' : '/assets/img/ui/mobile/tab-icons/f-post.png'}}" width="45px" height="35px"/>-->
                            <!--<span class="color-808285 line-height-1"-->
                                <!--ng-class="currentMobileActiveMenu =='feedgram-post'? 'mobile-menu-selected-text-f':'mobile-menu-unselected-text-f'">ثبت-->
                                <!--تجربه</span>-->
                        <!--</a>-->
                        <!--<a ng-if="showFeedgramTab()"-->
                            <!--class="tab-item padding-md color-808285 flex-imp flex-col items-center content-center fit-height-imp no-border"-->
                            <!--ng-click="mobileMenuClicked($event)" href="#/feedgram-co">-->
                            <!--<img ng-src="{{currentMobileActiveMenu === 'feedgram-co' ? '/assets/img/ui/mobile/tab-icons/f-co-s.png' : '/assets/img/ui/mobile/tab-icons/f-co.png'}}" width="45px" height="35px"/>-->
                            <!--<span class="color-808285 line-height-1"-->
                                <!--ng-class="currentMobileActiveMenu =='feedgram-co'? 'mobile-menu-selected-text-f':'mobile-menu-unselected-text-f'">همکاران</span>-->
                        <!--</a>-->
                        <!--<a ng-if="showFeedgramTab()"-->
                            <!--class="tab-item padding-md color-808285 flex-imp flex-col items-center content-center fit-height-imp no-border"-->
                            <!--ng-click="mobileMenuClicked($event)" href="#/feedgram-profile">-->
                            <!--<img ng-src="{{currentMobileActiveMenu === 'feedgram-profile' ? '/assets/img/ui/mobile/tab-icons/f-profile-s.png' : '/assets/img/ui/mobile/tab-icons/f-profile.png'}}" width="45px" height="35px"/>-->
                            <!--<span class="color-808285 line-height-1"-->
                                <!--ng-class="currentMobileActiveMenu =='feedgram-profile'? 'mobile-menu-selected-text-f':'mobile-menu-unselected-text-f'">پروفایل</span>-->
                        <!--</a>-->
                        <a ng-if="!showFeedgramTab()" ng-class="$rootScope.currentMobileActiveMenu == 'reserve' ? '':''"
                            class="tab-item padding-md col-xs-4 block no-border"
                            ng-click="mobileMenuClicked($event)" href="#/reserve">
                            <img class="block auto-center" ng-src="{{currentMobileActiveMenu === 'reserve' ? '/assets/img/ui/mobile/tab-icons/reserve-s.svg' : '/assets/img/ui/mobile/tab-icons/reserve.svg'}}" width="45px" height="35px"/>
                            <span class="color-808285 line-height-1 block auto-center right-padding-lg"
                                ng-class="currentMobileActiveMenu == 'reserve' ? 'mobile-menu-selected-text':''">رزروها</span>
                        </a>
                        <a ng-if="!showFeedgramTab()"
                            class="tab-item padding-md col-xs-4 block no-border"
                            ng-click="mobileMenuClicked($event)" href="#/emp-mobile-restaurant">
                            <img class="block auto-center" ng-src="{{currentMobileActiveMenu === 'myrestaurant' ? '/assets/img/ui/mobile/tab-icons/restaurant-s.svg' : '/assets/img/ui/mobile/tab-icons/restaurant.svg'}}" width="45px" height="35px"/>
                            <span class="color-808285 line-height-1 block auto-center right-padding-lg"
                                ng-class="currentMobileActiveMenu == 'myrestaurant' ? 'mobile-menu-selected-text':''">رستوران
                                ها</span>
                        </a>
                        <a ng-if="!showFeedgramTab()"
                            class="tab-item padding-md color-808285 col-xs-4 block no-border"
                            ng-click="mobileMenuClicked($event)" href="#/emp-mobile-home">
                            <img class="block auto-center" ng-src="{{currentMobileActiveMenu === 'home' || currentMobileActiveMenu === 'category' ? '/assets/img/ui/mobile/tab-icons/home-s.svg' : '/assets/img/ui/mobile/tab-icons/home.svg'}}" width="45px" height="35px"/>
                            <span class="color-808285 line-height-1 block auto-center right-padding-lg"
                                ng-class="(currentMobileActiveMenu =='home' || currentMobileActiveMenu =='category') ? 'mobile-menu-selected-text':''">غذاها</span>
                        </a>
                    </ion-footer-bar>
                    <div class="confirm-box confirm-box-disable">
                        <img src="./assets/img/ui/mobile/confirm.png" class="confirm-img" alt="">
                    </div>
                </ion-side-menu>

                <!-- بخش منو -->
                <ion-side-menu-content class="menu-content hidden-first" ng-if="canRender('menu')">
                    <!--برای قسمت header -->
                    <!-- <ion-header-bar class="bar-balanced">
                    <h1 class="title title-right">
                        <i class="ion-cloud"></i>
                         Go Cloud
                        </h1>
                </ion-header-bar>   -->
                    <!--اگر header , footer دارد ion-content این کلاس هارا باید داشته باشد -->
                    <!-- <ion-content class="has-footer has-wallet">-->
                    <ion-content class="">
                        <ion-list>
                            <div include-with-scope="mobile-menu-content.html"></div>
                        </ion-list>
                    </ion-content>
                    <!--برای قسمت footer -->
                    <!-- <ion-footer-bar class="bar-energized premium-bar" ng-class="isWalletShown?'hidden':'shown'">
                    <h1 class="title">GO PREMIUM</h1>
                 </ion-footer-bar> -->
                </ion-side-menu-content>
                <!-- بخش منو -->

            </ion-side-menus>
        </div>
        <!--<footer class="al-footer clearfix">-->
        <!--<div class="al-footer-right">Created with <i class="ion-heart"></i></div>-->
        <!--<div class="al-footer-main clearfix">-->
        <!--<div class="al-copy">Blur Admin 2016</div>-->
        <!--<ul class="al-share clearfix">-->
        <!--<li><i class="socicon socicon-facebook"></i></li>-->
        <!--<li><i class="socicon socicon-twitter"></i></li>-->
        <!--<li><i class="socicon socicon-google"></i></li>-->
        <!--<li><i class="socicon socicon-github"></i></li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--</footer>-->

    </main>

    <!--<div id="preloader" ng-show="!$pageFinishedLoading">-->
    <!--<div></div>-->
    <!--</div>-->
    <!--<div id="service-loading" style="display: none">-->
    <!--<div></div>-->
    <!--</div>-->

    <div ng-show="!$pageFinishedLoading" class="loading-background2">
        <img style="position: absolute;top: 50%;left: 50%;
   width: 200px;
   height: 200px;
   margin-top: -100px; /* Half the height */
   margin-left: -100px;" src="assets/img/loading.gif">
    </div>
    <div id="cube-preload" style="display: none;z-index: 999999;" class="loading-background">
        <img style="position: absolute;
   top: 50%;
   left: 50%;
   width: 200px;
   height: 200px;
   margin-top: -100px; /* Half the height */
   margin-left: -100px;" src="assets/img/loading.gif">
    </div>


    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp inject` to automatically populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->
    <script type="text/javascript" src="smart-table.min.js"></script>
    <link rel="stylesheet" href="myassets/css/newcard.css" />
    <link rel="stylesheet" href="myassets/css/content.css" />
    <link rel="stylesheet" href="ADM-dateTimePicker.css" />
    <link rel="stylesheet" href="myassets/css/card.css" />
    <link rel="stylesheet" href="myassets/css/normalize.css" />
    <link rel="stylesheet" href="myassets/css/pattern.css" />
    <link rel="stylesheet" type="text/css" href="myassets/css/search-main.css" />
    <link rel="stylesheet" type="text/css" href="myassets/css/search.css" />
    <link rel="stylesheet" href="myassets/css/semantic.min.css" />
    <!--invoice-->
    <link rel="stylesheet" href="myassets/css/invoice.css" />
    <link rel="stylesheet" href="myassets/css/ng-rateit.css" />
    <link rel="stylesheet" href="myassets/css/main.css" />
    <link rel="stylesheet" href="myassets/css/print.min.css" />
    <link rel="stylesheet" href="myassets/css/walkthrough/jquery.pagewalkthrough.min.css" />
    <link rel="stylesheet" href="myassets/css/flipclock.css" />
    <link rel="stylesheet" href="myassets/css/wickedpicker.min.css" />
    <link rel="stylesheet" href="myassets/css/placeholders.css" />
    <link ng-if="isMobile()" rel="stylesheet" href="myassets/css/ionic.min.css" />
    <link ng-if="isMobile()" rel="stylesheet" href="myassets/css/mobile.css" />

    <script src="ADM-dateTimePicker.min.js"></script>
    <script src="myassets/js/ScrollToPlugin.min.js"></script>
    <!--comments-->
    <script src="myassets/js/semantic.min.js"></script>
    <script src="myassets/js/jalali-moment.js"></script>
    <script src="myassets/js/angular-local-storage.min.js"></script>
    <script src="myassets/js/ng-rateit.min.js"></script>
    <script src="myassets/js/common-services.js"></script>
    <script src="myassets/js/hashmap.js"></script>
    <script src="myassets/js/jquery-clock-timepicker.min.js"></script>
    <!--resize image libs-->
    <script src="myassets/js/jquery.canvasResize.js"></script>
    <script src="myassets/js/canvasResize.js"></script>
    <script src="myassets/js/binaryajax.js"></script>
    <script src="myassets/js/exif.js"></script>
    <script src="myassets/js/reports.js"></script>
    <script src="myassets/js/jquery.pagewalkthrough.min.js"></script>
    <script src="myassets/js/flipclock.min.js"></script>
    <script src="myassets/js/wickedpicker.min.js"></script>
    <script src="myassets/js/ionic.bundle.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUh1zYu9a6v0k0gRob7Sy6oV_vcsu0SfY"></script>
    <script>
        var captchaContainer = null;
        var loadCaptcha = function () {
            captchaContainer = grecaptcha.render('captcha_container', {
                'sitekey': '6LdovlsUAAAAAMYE1ecIK-8rqnoh1SQZDzChdT8W',
                'callback': function (response) {

                }
            });
        };
    </script>

    <!--<script src="myassets/js/search.js"></script>-->


    <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
    <!-- inject:js -->
    <!-- js files will be automatically insert here -->
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->

</body>

</html>