<style>
    .panel ::-webkit-scrollbar {
            height: 10px;
        }
    button.btn.dropdown-toggle.btn-primary {
        padding-left: 2px;
        padding-right: 2px;
    }
    .save-profile {
        margin: unset;
    }
    .panel > .panel-heading>h3{
        color: black;
        text-align: center;
    }
</style>
<div include-with-scope="page-top.html"></div>
<div class="mycontent" ng-init="initCtrl()" ng-class="{'admin-content': hasRole('MASTER_ADMIN')}">
    <div class="widgets">
        <div class="row">
            <div class="col-md-12">
                <div ba-panel ba-panel-title="شرکت ها" ba-panel-class="with-scroll">
                    <div>
                        <div class="form-group select-page-size-wrap " style="width: 100%;height: fit-content;margin-bottom: 10px !important;">
                            <!-- <div style="width: 20%;float: left">
                                <div>
                                    <div style="width: 40%;float: right;color: black;line-height: 3;">
                                        تعداد
                                    </div>
                                    <div style="width: 50%;max-width:50px;float: left">
                                        <select class="form-control selectpicker" data-style="btn-primary" title="Rows on page"
                                            selectpicker style="text-align:right;" ng-model="smartTablePageSize"
                                            ng-options="i for i in [5,10,15,20,25]">
                                        </select>
                                    </div>
                                </div>
                            </div> -->
                            <div style="width: 100%;float: right;height: 100%;text-align: right; margin-bottom: 10px">
                                <button style="margin-top: 15px;margin-right: 15px;" class="btn btn-primary btn-with-icon save-profile candy-back-hover candy-back col-6-xs"
                                    ng-click="add()">افزودن</button>
                                <button style="margin-top: 15px;margin-right: 15px;" class="btn btn-info btn-with-icon save-profile col-6-xs"
                                    ng-click="openModal('app/pages/admin/company/message-modal.html', 'md',item.id,$index)">ارسال
                                    پیام سیستمی</button>
                            </div>
                        </div>
                        <div class="horizontal-scroll col-xs-12">
                            <table class="table" st-table="foods" refresh-table>
                                <thead>
                                    <tr class="sortable ">
                                        <th>
                                            <div class="newtable_header">
                                                عملیات
                                            </div>
                                        </th>
                                        <th st-sort="accountStatus">
                                            <div class="newtable_header">
                                                وضعیت
                                            </div>
                                        </th>
                                        <th st-sort="username">
                                            <div class="newtable_header">
                                                موبایل
                                            </div>
                                        </th>
                                        <th st-sort="lastName">
                                            <div class="newtable_header">
                                                تلفن
                                            </div>
                                        </th>
                                        <th st-sort="firstName">
                                            <div class="newtable_header">
                                                نام
                                            </div>
                                        </th>
                                        <th class="table-id" id="triggerSearch" st-sort="id" st-sort-default="true">#</th>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th>
                                            <!--<input st-search="price.averageRate" placeholder="جستجو بر اساس امتیاز" class="input-sm form-control search-input"
                       type="search"/>-->
                                        </th>
                                        <th>
                                            <!--<input st-search="price.foodPrice" placeholder="جستجو بر اساس قیمت" class="input-sm form-control search-input"
                       type="search"/>-->
                                        </th>
                                        <th><input style="width: 50%;display: inline-table;height: inherit !important;"
                                                st-search="name" placeholder="جستجو بر اساس نام" class="input-sm form-control search-input "
                                                type="search" /></th>
                                        <th>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id="{{$index}}" ng-repeat="item in rests">
                                        <td>
                                            <div class="buttons">
                                                <button class="btn candy-back white-color editable-table-button btn-xs"
                                                    ng-click="openModal('app/pages/admin/company/factor-modal.html', 'md',item,$index)">فاکتور
                                                </button>
                                                <button class="btn candy-back white-color editable-table-button btn-xs"
                                                    ng-click="edit(item.id)">ویرایش
                                                </button>
                                                <!--<button class="btn btn-danger editable-table-button btn-xs" ng-click="openModal('app/pages/admin/company/delete-modal.html', 'md',item,$index)">حذف-->
                                                <!--</button>-->
                                                <button ng-if="item.accountStatus !== 'DE_ACTIVE' && item.accountStatus !== 'DELETE'"
                                                    class="btn btn-warning editable-table-button btn-xs" ng-click="openModal('app/pages/admin/company/deactive-modal.html', 'md',item)">غیرفعال
                                                </button>
                                                <button ng-if="item.accountStatus === 'DE_ACTIVE' || item.accountStatus === 'DELETE'"
                                                    class="btn btn-success editable-table-button btn-xs" ng-click="openModal('app/pages/admin/company/activate-modal.html', 'md',item)">فعال
                                                </button>
                                                <button class="btn candy-back white-color editable-table-button btn-xs"
                                                    ng-click="financial(item.id)">مالی
                                                </button>
                                                <button class="btn btn-info editable-table-button btn-xs" ng-click="openModal('app/pages/admin/company/change-pass-modal.html', 'md',item,$index)">رمز
                                                </button>
                                                <button class="btn btn-default editable-table-button btn-xs" ng-click="openModal('app/pages/admin/company/charge-modal.html', 'md',item.id,$index)">شارژ
                                                </button>
                                                <button class="btn btn-default editable-table-button btn-xs" ng-click="openModal('app/pages/admin/company/pay-debt-modal.html', 'md',item.id,$index)"> بدهی
                                                </button>
                                                <button class="btn btn-info editable-table-button btn-xs" ng-click="openModal('app/pages/admin/company/message-modal.html', 'md',item.id,$index)">پیام
                                                </button>
                                                <button class="btn btn-info editable-table-button btn-xs" ng-click="coAddresses(item.id)">آدرسها
                                                </button>
                                            </div>
                                        </td>
                                        <td ng-style="getStatusColor(item.accountStatus)">{{getStatus(item.accountStatus)}}</td>
                                        <td>{{item.mobile}}</td>
                                        <td>{{item.phone}}</td>
                                        <td>{{item.name}}</td>
                                        <td class="table-id">{{$index+1}}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="12" class="text-center">
                                            <div st-pagination="" st-items-by-page="smartTablePageSize"
                                                st-displayed-pages="10"></div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
